{{ 'section-test.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}
<div class="hello">
  <div class="content_wrap">
  	{%- if section.settings.button_label != blank -%}
    <h2>{{ section.settings.heading }}</h2>
    <div>{{ section.settings.text }}</div>
	<a href="{{ block.settings.button_link }}" class="link underlined-link large-up-hide">{{ section.settings.button_label | escape }}</a>
  	{%- endif -%}
  </div>
  <div class="img-container">
    <img class="img" src="{{ section.settings.image | image_url }}" />
  </div>
</div>



{% javascript %}
{% endjavascript %}

{% schema %}
 {
 	"name": "Section name",
 	"class": "section",
 	"tag": "section",
 	"settings": [{
 			"type": "image_picker",
 			"id": "image",
 			"label": "t:sections.image-banner.settings.image.label"
 		},
 		{
 			"type": "text",
 			"id": "heading",
 			"default": "Heading",
 			"label": "t:sections.multicolumn.settings.button_label.label"
 		},
 		{
 			"type": "text",
 			"id": "text",
 			"default": "Brief paragraph",
 			"label": "t:sections.multicolumn.settings.button_label.label"
 		},
 		{
 			"type": "text",
 			"id": "button_label",
 			"default": "Button label",
 			"label": "t:sections.multicolumn.settings.button_label.label"
 		},
 		{
 			"type": "url",
 			"id": "button_link",
 			"label": "t:sections.multicolumn.settings.button_link.label"
 		}
 	],
 	"blocks": [{
 			"type": "slide",
 			"name": "Slide",
 			"limit": 4,
 			"settings": [{
 				"id": "image",
 				"type": "image_picker",
 				"label": "Image"
 			}]
 		}

 	],
 	"presets": [{
 		"name": "Section name from presets",
 		"category": "Text"
 	}]
 }
{% endschema %}