{{ 'section-test.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
{% endstylesheet %}
<div class="page-width">
  <div>
  {%- if section.settings.button_label != blank -%}
    <h2>{{ section.settings.heading_text }}</h2>
    <div>{{ section.settings.text }}</div>
	<a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">{{ section.settings.button_label | escape }}</a>
  {%- endif -%}
  </div>
</div>



{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Section name",
	"class": "section",
	"tag": "section",
    "settings": [
	{
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.multicolumn.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    }
	],
	"presets": [{
    "name": "Section name from presets",
    "category": "Text"
  }]
  }
{% endschema %}